.massif-dnd-heading {
  margin-top: 0;
}

.massif-dnd-wrapper {
  position: relative;
  display: grid;
  grid-gap: 20px;
  grid-template-columns: 1fr;
  width: 100%;

  .grid-list {
    position: relative;
    z-index: 2;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(var(--massif-dnd-num-cols), 1fr);
    width: 100%;
    margin: 15px auto 0;
    padding: 0;
    list-style: none;

    .list-entry {
      position: relative;
      display: flex;
      flex-direction: column;
      grid-column: span var(--massif-dnd-default-cols);

      .thumbnail {
        position: relative;
        margin: 0;
        aspect-ratio: auto;
      }

      .img-placeholder,
      .img-cell {
        max-width: none;
      }
      img {
        width: 100%;
        height: auto;
      }

      .img-placeholder {
        background: #f0f0f0;
      }

      .label-wrapper {
        display: flex;
        gap: 5px;
        align-items: center;
        max-width: 100%;
        padding: 0 0 4px;
      }

      .label {
        position: relative;
        overflow: hidden;
        font-weight: bold;
        white-space: nowrap;
        text-overflow: ellipsis;
      }

      .controls {
        display: flex;
        gap: 5px;
        margin-left: auto;

        div {
          display: flex;
          align-items: center;
          justify-content: center;
          cursor: pointer;
          transition: all 0.2s ease-in-out;

          &.disabled {
            cursor: not-allowed;
            opacity: 0.5;
          }

          &:hover,
          &:focus {
            i {
              color: var(--clr-massif);
            }
          }

          i {
            font-size: 1.5em;
          }

          &.dragdrop-handle {
            width: 28px;
            color: white;
            background: var(--clr-massif);
            /* width: 28px; */
            border-radius: 100%;
            cursor: move;
            /* font-size: 1.25em; */
            aspect-ratio: 1;

            i {
              font-size: 1.25em;
            }

            &:hover,
            &:focus {
              scale: 1.2;

              i {
                color: white;
              }
            }
          }
        }
      }

      &.sortable-ghost {
        opacity: 0.4;
      }
    }
  }
  #js-grid-container {
    position: relative;
  }

  .js-grid-wrapper {
    position: absolute;
    top: -10px;
    left: 50%;
    z-index: 1;
    display: grid;
    grid-template-columns: repeat(var(--massif-dnd-num-cols), 1fr);
    gap: 20px;
    width: 100%;
    height: calc(100% + 30px);
    transform: translateX(-50%);
    opacity: 0.4;
    pointer-events: none;
  }

  .js-grid-col {
    text-align: center;
    background: rgba(0, 0, 0, 0.1);
  }

  .js-grid-col-label {
    position: -webkit-sticky;
    position: sticky;
    top: 100px;
  }
}

@keyframes massinfDndAutoHide {
  0% {
    transform: translateY(0);
    opacity: 1;
  }

  100% {
    transform: translateY(15px);
    opacity: 0;
  }
}

.massif-dnd-btn-group {
  z-index: 10;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  .alert-info {
    margin: 0;
    padding: 6px 12px;

    &.auto-hide {
      animation: massinfDndAutoHide 0.3s forwards 3s;
      pointer-events: none;
    }
  }

  .action-buttons {
    margin-left: auto;
  }

  &.yform-data-list-header {
    margin-bottom: 20px;
  }
}

.modal {
  .massif-dnd-btn-group {
    position: sticky;
    bottom: 20px;
    left: 0;
  }
}
